@use '../../styles/tools';

@include tools.layer('components') {
  .vd-breadcrumb {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.9rem;
    font-family: var(--vd-font-family);

    &__item {
      color: rgb(var(--vd-theme-primary));
      text-decoration: none;
      padding: 2px 4px;

      &--active {
        color: rgba(var(--vd-theme-on-surface), 0.6);
        pointer-events: none;
      }
      &--disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &__divider {
      display: inline-flex;
      opacity: 0.4;
    }
  }
}
