@use '../../styles/tools';

@include tools.layer('components') {
  .vd-divider {
    display: block;
    flex: 1 1 0;
    max-width: 100%;
    height: 0;
    margin: 0;
    border: none;
    border-top: thin solid rgba(var(--vd-theme-on-surface), 0.12);

    &--vertical {
      align-self: stretch;
      width: 0;
      max-width: 0;
      height: auto;
      min-height: 100%;
      border-top: none;
      border-inline-start: thin solid rgba(var(--vd-theme-on-surface), 0.12);
    }

    &--inset {
      margin-inline-start: 16px;
    }
  }
}
